@{
    ViewBag.Title = "SurveyApp";
    ViewBag.Class = "main-view";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/app/surveyapp.routing.js"></script>
    <script type="text/javascript" src="~/Scripts/app/surveyapp.main.js"></script>
    <script type="text/javascript" src="~/Scripts/app/surveyapp.edit.js"></script>
}

@section menu {
<div class="navbar navbar-default sub-header">
    <div class="col-xs-12">
        <div class="collapse navbar-collapse" id="navbar-collapse2">
            <ul class="nav navbar-nav navbar-left">
                <li ng-hide="isAdmin()" ng-cloak ng-class="{ active : isView('/survey') }"><a ng-click="loadView('/survey')">Survey</a></li>
                <li ng-show="isAdmin()" ng-cloak ng-class="{ active : isView('/admin/survey') }"><a ng-click="loadView('/admin/survey')">Survey</a></li>
                <li ng-show="isAdmin()" ng-cloak ng-class="{ active : isView('/admin/results') }"><a ng-click="loadView('/admin/results')">Answers</a></li>
                <li ng-show="isAdmin()" ng-cloak ng-class="{ active : isView('/admin/userresults') }"><a ng-click="loadView('/admin/userresults')">Results</a></li>
                <li ng-show="isAdmin()" ng-cloak ng-class="{ active : isView('/admin/users') }"><a ng-click="loadView('/admin/users')">Users</a></li>
            </ul>
        </div>
    </div>
</div>
}

<section class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div ng-view></div>
    </div>
</section>

