@{
    ViewBag.Title = "SurveyApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/app/surveyapp.main.js"></script>
}
<h2>Index</h2>
