@{
    ViewBag.Title = "SurveyApp - Login";
    ViewBag.Class = "login-view";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/app/surveyapp.login.js"></script>
}
<section class="row" ng-controller="LoginController as login">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="alert alert-danger alert-dismissable" ng-cloak ng-show="login.errors[403] == true">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Authentication error. Please, provide valid credentials.
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Sign in</h4></div>
            <div class="panel-body">
                <form name="formLogin" ng-submit="validateForm(formLogin) && login.submit()">
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Username</label>
                            <input type="text" class="form-control input-lg" name="username" required placeholder="Login.." ng-model="login.login">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Password</label>
                            <input type="password" class="form-control input-lg" name="password" required placeholder="Password.." ng-model="login.password">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success pull-right" type="submit" ng-disabled="login.disabled">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
