<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="pl.rspective.survey"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Parse push notification permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="pl.rspective.survey.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="pl.rspective.survey.permission.C2D_MESSAGE"/>

    <application
        android:name=".SurveyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.rspective.survey.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="pl.rspective.survey.ui.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <activity android:name="pl.rspective.survey.ui.MainActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"/>

        <service android:name=".infrastructure.onesignal.SurveyGcmIntentService"/>

        <receiver
            android:name="pl.rspective.survey.infrastructure.onesignal.OneSignalReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="pl.rspective.survey"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="01b39bfde42ce82f1f51f2e45bfbf32c22a70afc"/>

    </application>

</manifest>
