@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="surveyapp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewBag.Title ?? "SurveyApp")</title>
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap-google-plus.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/angular-loading-bar.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/styles.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/styles-mobile.css" />

</head>
<body class="@ViewBag.Class">
    <nav class="navbar navbar-fixed-top header">
        <div class="col-md-12">
            <div class="navbar-header">
                <a href="http://www.rspective.com" target="_blank" class="rspective">
                    <span>
                        <object type="image/svg+xml" data="~/Content/Images/rspective.svg" class="skrollable skrollable-between">rspective</object>
                    </span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse1">
                <!--
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.bootply.com" target="_ext">Bootply+</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
                            <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
                            <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
                            <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
                            <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
                        </ul>
                    </li>
                    <li><a href="#" id="btnToggle"><i class="glyphicon glyphicon-th-large"></i></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                </ul>
                -->
            </div>
        </div>
    </nav>

    <!--
    <div class="navbar navbar-default" id="subnav">
        <div class="col-md-12">

            <div class="navbar-header">
                <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i class="glyphicon glyphicon-chevron-down"></i></small></a>
                <ul class="nav dropdown-menu">
                    <li><a href="#"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-dashboard" style="color:#0000aa;"></i> Dashboard</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-inbox" style="color:#11dd11;"></i> Pages</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-plus"></i> More..</a></li>
                </ul>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse2">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Posts</a></li>
                    <li><a href="#loginModal" role="button" data-toggle="modal">Login</a></li>
                    <li><a href="#aboutModal" role="button" data-toggle="modal">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    -->

    <div class="container" id="main">
        <div class="container-centered">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-loading-bar.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-local-storage.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>  
    <script type="text/javascript" src="~/Scripts/app/surveyapp.js"></script>
    <script type="text/javascript" src="~/Scripts/app/surveyapp.services.js"></script>
    <script type="text/javascript" src="~/Scripts/app/surveyapp.routing.js"></script>
    @RenderSection(name: "scripts", required: false)
</body>
</html>
