#main.container {
    margin: 0;
    padding: 0;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 4.5em;
}

#main.container .container-centered {
    display: table-cell;
    vertical-align: middle;
}

#main.container .container-centered .content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-top: 1em;
}

a.rspective object {
    width: 15em;
    margin-top: -0.5em;
    margin-bottom: -2.5em;
    pointer-events: none;
}