nav a.rspective {
    display: inline-block;
}

nav a.rspective object {
    width: 15em;
    margin-top: -0.5em;
    margin-bottom: -2.5em;
    pointer-events: none;
}

#main.container {
    margin: 0;
    padding: 0;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 4.75em;
    overflow: auto;
}

#main.container .container-centered {
    display: table-cell;
    vertical-align: middle;
}

#main.container .container-centered .content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#main.container .form-control, 
#main.container .input-group-btn button {
    margin-bottom: 1em;
}