<div class="panel panel-default">
    <div class="panel-heading">
        <div class="form-group">
            <label for="survey_title">Title:</label>
            <input id="survey_title" class="form-control" type="text" ng-model="edit.survey.Title" required maxlength="200" placeholder="Title.." />
        </div>
        <div class="form-group">
            <label for="survey_description">Description:</label>
            <textarea id="survey_description" class="form-control" ng-model="edit.survey.Description" maxlength="1000" rows="5" placeholder="Description.."></textarea>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div ng-repeat="question in edit.survey.Questions">
                    <div ng-cloak>
                        <label for="question_{{$index}}">Question:</label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default" ng-click="edit.survey.Questions.splice($index, 1)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </div>
                            <input id="question_{{$index}}" class="form-control" ng-model="question.Text" required maxlength="200" placeholder="Question" />
                        </div>
                        <label>Answers:</label>
                        <div class="input-group" ng-repeat="answer in question.Answers">
                            <div class="input-group-btn">
                                <button class="btn btn-default" ng-click="question.Answers.splice($index, 1)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </div>
                            <input class="form-control" ng-model="answer.Text" required maxlength="200" placeholder="Answer {{$index + 1}}" />
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <div class="row" ng-show="false">
            <div class="col-sm-12 text-center">
                <ul class="pagination center-block" style="display:inline-block;">
                    <li ng-repeat="question in edit.survey.Questions">
                        <a ng-click="main.displayedQuestion = $index">{{ $index + 1 }}</a>
                    </li>
                </ul>
                <hr />
                <button class="btn btn-success pull-right" ng-click="edit.submit()">Save</button>
            </div>
        </div>
    </div>
</div>
