<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Users</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <span ng-bind="user.json"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="singleUser in user.users">{{ singleUser.Name }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
